@font-face {
  font-family: helveticaneue;
  src: url("fonts/BoschSans-Black.eot"); }
.logos-cabecalho {
  border-top: 5px solid red; }
  .logos-cabecalho .cabecalho {
    display: flex;
    padding-top: 16px;
    align-items: center; }

.aproveite {
  margin-left: auto;
  margin-right: auto; }
  .aproveite .teste-teste {
    padding: 0; }
  .aproveite .promocao {
    text-transform: uppercase; }

.no-mes {
  line-height: 20px;
  margin-bottom: 36px; }

.mes-namorados {
  background-color: red;
  padding: 7px 0px 7px 30px;
  margin-bottom: 10px; }
  .mes-namorados .comprou {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    margin: 0; }
  .mes-namorados .promocao-valida {
    font-weight: bold;
    font-size: 16px;
    margin: 0; }

.cafeteira {
  position: absolute;
  top: 0;
  margin-top: -30px;
  right: 0; }
  .cafeteira img {
    height: 228px; }

.regulamento {
  margin-bottom: 63px; }
  .regulamento a {
    border-radius: 38px;
    display: block;
    font-size: 10px;
    border: 1px solid red;
    color: red;
    padding: 11px 14px; }

.economize-luz span {
  font-size: 12px; }

.container-fluid .row .Solicite-proposta {
  background-color: red;
  padding: 15px; }
  .container-fluid .row .Solicite-proposta h1 {
    font-size: 16px;
    color: #ffffff; }
.container-fluid .row .formulario {
  background-color: #dcdcda; }
  .container-fluid .row .formulario form {
    width: 95%;
    margin-left: auto;
    margin-right: auto; }
    .container-fluid .row .formulario form input {
      background-color: #ccc;
      box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.19); }
    .container-fluid .row .formulario form button {
      width: 100%;
      background-color: red;
      border-radius: 0;
      border-color: red;
      margin-top: 15px;
      margin-bottom: 13px; }

.veja-comparacao {
  color: red;
  font-weight: bold; }

.economia-mensal {
  line-height: 3; }
  .economia-mensal span {
    color: red; }
  .economia-mensal strong {
    color: red; }
  .economia-mensal .economia-media {
    line-height: 18px; }

.selos {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .selos .selos-icon {
    margin-top: 25px;
    margin-bottom: 25px; }

/*# sourceMappingURL=main.css.map */
